[submodule "public"]
	path = public
	url = https://github.com/liuchang0812/liuchang0812.github.io.git
	branch = master
[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/liuchang0812/hugo-theme-pure
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
